@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
  box-sizing: border-box;
}

p {
  
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 11px;
color: #131314;

}
.cv {
display: flex;
position: relative;
width: 612px;
height: 792px;  
background: #FFFFFF;
mix-blend-mode: normal;
}
.left {
  display: block;
  position: absolute;
  margin-top: 38px;
  margin-left: 62px;
  
}

.right {
  position: absolute;
  background: green;
}

.name__h1 {
  width: 115px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 30px;
  color: #131314;
}
.name__photo {

  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.name__job {
width: 38px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 25px;
color: #5B8EDD;

}
.contact__ {
  display: flex;
  position: relative;  
}
.contact__logo {
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}