@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: #c8c0fc;
}

p {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 11px;
color: #131314;

}
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.cv {
display: flex;
justify-content: center;


}

.contact {
 display: flex;
 flex-direction: column;
  padding-top: 45px;
}

.left {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-right: 90px;
  padding-left: 45px;

}

.right {
  display: flex;
  flex-direction: column;
  padding-top: 45px;

}

.name {
display: flex;
align-items: center;

}

.name__text {
display: flex;
flex-direction: column;

}

.name__h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #131314;
  padding-left: 100px;
  padding-bottom: 70px;
}
.name__photo {

  width: 250px;
  height: 250px;
  border-radius: 90%;
}
.name__job {
line-height: 110%;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 40px;
color: #ebebeb;
padding-left: 100px;

}
.contact__ {
  display: flex;
  align-items: center;
  
}
.contact__logo {
  padding-top: 10px;
  padding-right: 10px;
  width: 30px;
  height: 30px;
}


.h2__category {
  font-family: 'Roboto';
  font-size: 35px;
  line-height: 18px;
  color: #78bef1;
  padding-top: 20px;
}

.ul__list {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
padding-left: 20px;
color: #3A3E47;
}

.exp__job_name {
padding-top: 30px; 
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 38px;
color: #3A3E47;
}

.exp__job_date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 11px;
  color: #3A3E47;
}

.educ__u {
  padding-top: 30px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  color: #3A3E47;
}

.educ__date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 11px;
  color: #3A3E47;

}

.code__wrap {
  display: inline-block;
  border-radius: 20px;
  background-color: #131314;
}
.code__back {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.footer {
  display: flex;
  justify-content: center;

}

.navig__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7.5%;
  list-style-type: none;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;

}

.navig__li {
  display: flex;
  padding-right: 25%;
}


 .navig__ul_picrs {
  width: 90px;

  
}

.navig__ul_pic {
  width: 75px;

}

.h2__footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #282829;
}