@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
  box-sizing: border-box;
}

p {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 11px;
color: #131314;

}

.cv {
display: flex;
position: absolute; 
background: #FFFFFF;
mix-blend-mode: normal;
}

.contact {
  display: block;
  margin-top: 38px;
  margin-left: 62px;
  margin-right: 38px;

}

.left {
  width: 600px;
  display: block;
  margin-top: 38px;
  margin-left: 62px;
  margin-right: 38px;

}

.right {
  display: block;
  margin-top: 38px;
  margin-left: 62px;
  margin-right: 38px;
}

.name {

display: flex;
margin-top: 38px;
margin-left: 62px;
}

.name__text {

display: block;

}

.name__h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #131314;
  margin-left: 100px;
  margin-bottom: 70px;
}
.name__photo {

  width: 275px;
  height: 275px;
  border-radius: 90%;
}
.name__job {
line-height: 110%;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 40px;
color: #5B8EDD;
margin-left: 100px;

}
.contact__ {
  display: flex;
  position: relative;  
}
.contact__logo {
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.h2__category {
  font-family: 'Roboto';
  font-size: 35px;
  line-height: 18px;
  color: #78bef1;
  padding-top: 20px;
}

.ul__list {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
padding-left: 20px;
color: #3A3E47;
}

.exp__job_name {
margin-top: 30px; 
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 38px;
color: #3A3E47;
}

.exp__job_date {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 11px;
color: #3A3E47;
}

.educ__u {
  margin-top: 30px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  color: #3A3E47;
}